*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.btns {
  display: block;
  margin-top: 2rem;
}

.btns li {
  margin-bottom: 3rem;
}

.btns li a {
  color: white;
  padding: .7rem 1.7rem;
  border-radius: 2rem;
}

.btn--green {
  background: #26baa4;
}

.btn--green:active {
  background: #7ce4d4;
}

.btn--blue {
  background: rgba(60, 59, 141, 0.9);
}

.btn--blue:active {
  background: rgba(60, 59, 141, 0.6);
}

.track__articles__image img,
.clipboard__image img {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
}

body {
  font-size: 18px;
  background: url(../images/bg-header-mobile.png) top/cover no-repeat;
  font-weight: 400;
  margin-left: 2rem;
  margin-right: 2rem;
}

.header {
  margin: 2rem auto;
  text-align: center;
}

.header__logo {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1.2rem;
}

.header__title {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.header__description {
  color: #666666;
  margin-bottom: 1.3rem;
}

.header__btns {
  display: block;
}
