*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.track__articles__image img,
.clipboard__image img {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
}

.section-center {
  margin-left: 2rem;
  margin-right: 2rem;
}

.btns {
  display: block;
  margin-top: 2.5rem;
}

.btns li {
  margin-bottom: 3rem;
}

.btns li a {
  color: white;
  padding: 0.7rem 1.7rem;
  border-radius: 2rem;
  text-transform: capitalize;
}

.btn--green {
  background: #26baa4;
}

.btn--green:active {
  background: #7ce4d4;
}

.btn--blue {
  background: rgba(60, 59, 141, 0.9);
}

.btn--blue:active {
  background: rgba(60, 59, 141, 0.6);
}

body {
  font-size: 18px;
  background: url(../images/bg-header-mobile.png) top/cover no-repeat;
  font-weight: 400;
}

.header {
  margin: 2rem auto;
  text-align: center;
  margin-bottom: 5rem;
}

.header__logo {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1.2rem;
}

.header__title {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.header__description {
  color: #666666;
  margin-bottom: 1.3rem;
}

.header__btns {
  display: block;
}

.track {
  text-align: center;
  margin-bottom: 5rem;
}

.track__header__title {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1.1rem;
}

.track__header__description {
  color: #666666;
  margin-bottom: 1.3rem;
  padding-bottom: 0.7rem;
}

.track__articles {
  margin-top: 2rem;
}

.track__articles__content__container {
  margin-top: 3rem;
}

.track__articles__content__container__title {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

.track__articles__content__container__description {
  color: #666666;
  margin-bottom: 1.3rem;
}

.clipboard {
  text-align: center;
  margin-bottom: 5rem;
}

.clipboard__header__title {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1.1rem;
}

.clipboard__header__description {
  color: #666666;
  margin-bottom: 1.3rem;
  padding-bottom: 0.7rem;
}

.workflow {
  text-align: center;
  margin-bottom: 5rem;
}

.workflow__header__title {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1.1rem;
}

.workflow__header__description {
  color: #666666;
  margin-bottom: 1.3rem;
}

.workflow__text {
  padding-top: 0.5rem;
  margin-bottom: 5rem;
}

.workflow__text__container {
  margin-top: 3rem;
}

.workflow__text__container__img {
  margin-bottom: 1rem;
}

.workflow__text__container__title {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

.workflow__text__container__description {
  color: #666666;
  margin-bottom: 1.3rem;
}

.workflow__sponsors__img {
  display: block;
  margin: 2rem auto;
}

.osystem {
  text-align: center;
  margin-bottom: 5rem;
}

.osystem__title {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1.1rem;
}

.osystem__description {
  color: #666666;
  margin-bottom: 1.3rem;
  padding-bottom: 0.7rem;
}

.footer__links li {
  margin-bottom: 1.5rem;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #a7b3b9;
  text-align: center;
}

.footer__logo {
  width: 4rem;
  height: 4rem;
  margin-bottom: 2rem;
}

.footer__links__link {
  color: black;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

.footer__icons {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icons__icon {
  margin-right: 1rem;
}

@media screen and (min-width: 500px) {
  .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .btn {
    margin-right: 2rem;
  }
}
