*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  background: url(../images/bg-header-mobile.png) top/cover no-repeat;
}

.header {
  margin: 2rem auto;
  text-align: center;
}
