// global style
*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

$primary-cyan: hsl(171, 66%, 44%);
$primary-lightBlue: hsl(201, 11%, 69%);
$secondary-darkBlue: hsl(210, 10%, 33%);
$secondary-blue: hsl(201, 11%, 66%);
$ff-title: "Bai Jamjuree", sans-serif;
$ff-bodyWeight: 400;
$ff-titleWeight: 600;
$body-color: lighten(black, 40%);
$margin-b: 1.3rem;
@mixin description {
	color: $body-color;
	margin-bottom: $margin-b;
}
@mixin bigTitle($fontSize) {
	font-family: $ff-title;
	font-weight: $ff-titleWeight;
	font-size: $fontSize;
}
a {
	text-decoration: none;
}
.track__articles__image img,
.clipboard__image img {
	display: block;
	width: 100%;
}
ul {
	list-style-type: none;
}
// center section
.section-center {
	margin-left: 2rem;
	margin-right: 2rem;
}
// button styling
.btns {
	display: block;
	margin-top: 2.5rem;
}
.btns li {
	margin-bottom: 3rem;
}
.btns li a {
	color: white;
	padding: 0.7rem 1.7rem;
	border-radius: 2rem;
	text-transform: capitalize;
}
.btn--green {
	background: $primary-cyan;
	&:active {
		background: lighten($primary-cyan, 25%);
	}
}
.btn--blue {
	background: rgba(60, 59, 141, 0.9);
	&:active {
		background: rgba(60, 59, 141, 0.6);
	}
}

// End button styling

body {
	font-size: 18px;
	background: url(../images/bg-header-mobile.png) top/cover no-repeat;
	font-weight: $ff-bodyWeight;
}

// header style
.header {
	margin: 2rem auto;
	text-align: center;
	margin-bottom: 5rem;
	&__logo {
		width: 4rem;
		height: 4rem;
		margin-bottom: 1.2rem;
	}
	&__title {
		@include bigTitle(1.6rem);
		margin-bottom: 1rem;
	}
	&__description {
		@include description();
	}
	&__btns {
		display: block;
	}
}
// Track
.track {
	text-align: center;
	margin-bottom: 5rem;
	&__header {
		&__title {
			@include bigTitle(1.6rem);
			margin-bottom: 1.1rem;
		}
		&__description {
			@include description();
			padding-bottom: 0.7rem;
		}
	}
	&__articles {
		margin-top: 2rem;
		&__content {
			&__container {
				margin-top: 3rem;
				&__title {
					text-transform: capitalize;
					margin-bottom: 1rem;
					@include bigTitle(1.3rem);
				}
				&__description {
					@include description();
				}
			}
		}
	}
}
// End Track

// clipboard
.clipboard {
	text-align: center;
	margin-bottom: 5rem;
	&__header {
		&__title {
			@include bigTitle(1.6rem);
			margin-bottom: 1.1rem;
		}
		&__description {
			@include description();
			padding-bottom: 0.7rem;
		}
	}
}
// End clipboard
// worflow
.workflow {
	text-align: center;
	margin-bottom: 5rem;
	&__header {
		&__title {
			@include bigTitle(1.6rem);
			margin-bottom: 1.1rem;
		}
		&__description {
			@include description();
		}
	}
	&__text {
		padding-top: 0.5rem;
		margin-bottom: 5rem;
		&__container {
			margin-top: 3rem;
			&__img {
				margin-bottom: 1rem;
			}
			&__title {
				text-transform: capitalize;
				margin-bottom: 1rem;
				@include bigTitle(1.3rem);
			}
			&__description {
				@include description();
			}
		}
	}
	&__sponsors {
		&__img {
			display: block;
			margin: 2rem auto;
		}
	}
}
// End worflow
// osystem
.osystem {
	text-align: center;
	margin-bottom: 5rem;
	&__title {
		@include bigTitle(1.6rem);
		margin-bottom: 1.1rem;
	}
	&__description {
		@include description();
		padding-bottom: 0.7rem;
	}
}
// gooter styling
.footer__wrap__links li {
	margin-bottom: 1.5rem;
}
.footer {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background: $primary-lightBlue;
	text-align: center;
	&__wrap {
		&__logo {
			width: 4rem;
			height: 4rem;
			margin-bottom: 2rem;
		}
		&__links {
			&__link {
				color: black;
				font-size: 1.3rem;
				letter-spacing: 0.1rem;
			}
		}
		&__icons {
			padding-top: 1rem;
			display: flex;
			justify-content: center;
			&__icon {
				margin-right: 1rem;
			}
		}
	}
}
// media curry
@media screen and (min-width: 765px) {
	p:not(.track__articles__content__container__description) {
		max-width: 50rem;
		margin-left: auto;
		margin-right: auto;
	}
	.section-center {
		margin-left: 0;
		margin-right: 0;
	}
	.btns {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.btn {
		margin-right: 2rem;
	}

	.track {
		&__articles {
			display: flex;
			&__image {
				justify-content: flex-start;
				margin-right: 5rem;
				align-self: center;
			}
			&__content {
				text-align: left;
				&__container {
					&__description {
						max-width: 30rem;
					}
				}
			}
		}
	}
	.clipboard {
		max-width: 70rem;
		margin-left: auto;
		margin-right: auto;
	}
	.workflow {
		&__text {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			grid-gap: 3rem;
			max-width: 80rem;
			margin-left: auto;
			margin-right: auto;
		}
		&__sponsors {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
			grid-gap: 2rem;
			max-width: 80rem;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.footer {
		&__wrap {
			display: flex;
			justify-content: space-between;
			max-width: 80rem;
			margin-left: auto;
			margin-right: auto;
			&__links {
				display: flex;
				align-self: center;
				flex-wrap: wrap;
				&__link {
					margin-right: 2rem;
				}
			}
		}
	}
}
