// global style
*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

$primary-cyan: hsl(171, 66%, 44%);
$primary-lightBlue: hsl(201, 11%, 69%);
$secondary-darkBlue: hsl(210, 10%, 33%);
$secondary-blue: hsl(201, 11%, 66%);
$ff-title: "Bai Jamjuree", sans-serif;
$ff-bodyWeight: 400;
$ff-titleWeight: 600;
$body-color: lighten(black, 40%);
$margin-b: 1.3rem;
@mixin description{
	color: $body-color;
	margin-bottom: $margin-b;
}
@mixin bigTitle($fontSize) {
	font-family: $ff-title;
	font-weight: $ff-titleWeight;
	font-size: $fontSize;
}
a {
	text-decoration: none;
}
.track__articles__image img,
.clipboard__image img {
	display: block;
	width: 100%;
}
ul {
	list-style-type: none;
}

// button styling
.btns {
	display: block;
	margin-top: 2.5rem;
}
.btns li {
	margin-bottom: 3rem;
}
.btns li a {
	color: white;
	padding: 0.7rem 1.7rem;
	border-radius: 2rem;
}
.btn--green {
	background: $primary-cyan;
	&:active {
		background: lighten($primary-cyan, 25%);
	}
}
.btn--blue {
	background: rgba(60, 59, 141, 0.9);
	&:active {
		background: rgba(60, 59, 141, 0.6);
	}
}

// End button styling

body {
	font-size: 18px;
	background: url(../images/bg-header-mobile.png) top/cover no-repeat;
	font-weight: $ff-bodyWeight;
	margin-left: 2rem;
	margin-right: 2rem;
}

// header style
.header {
	margin: 2rem auto;
	text-align: center;
	margin-bottom: 5rem;
	&__logo {
		width: 4rem;
		height: 4rem;
		margin-bottom: 1.2rem;
	}
	&__title {
		@include bigTitle(1.6rem);
		margin-bottom: 1rem;
	}
	&__description {
		@include description();
	}
	&__btns {
		display: block;
	}
}
// Track
.track{
	text-align: center;
	margin-bottom: 5rem;
	&__header{
		&__title{
	@include bigTitle(1.6rem);
		margin-bottom: 1.1rem;
		}
		&__description {
	@include description();
		padding-bottom: .7rem;
	}
	}
 &__articles{
	margin-top: 2rem;
	&__content{
		&__container{
			margin-top: 3rem;
			&__title{
				text-transform: capitalize;
				margin-bottom: 1rem;
				@include bigTitle(1.3rem);
			}
			&__description{
				@include description();
				
			}
		}
	}
 }
}
// End Track

// clipboard
.clipboard{
	text-align: center;
	margin-bottom: 5rem;
	&__header{
		&__title{
	@include bigTitle(1.6rem);
		margin-bottom: 1.1rem;
		}
		&__description {
	@include description();
		padding-bottom: .7rem;
	}
	}

}
// media curry
@media screen and (min-width: 500px) {
	.btns {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.btn:nth-child(1) {
		margin-right: 2rem;
	}
}
